.App{
	width: 500px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	border: 2px solid black;
	padding: 5px 10px;
	margin: 20px;
}

.Menu{
	display: flex;
	justify-content: right;
	margin-right: 30px;
}

.mainWriter{
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}

.App > img{
	width: 50px;
}

.emotion {
	width: 30px;
}
.newWrite {
	background-color: rgb(108, 108, 175);
	color: white;
	width: 500px;
	height: 50px;
}