.Editor{
	display: flex;
	gap: 10px;
}

.Editor input {
	flex: 1;
	padding: 15px;
	border: 1px solid black;
	border-radius: 5px;
}
.Editor button {
	cursor:pointer;
	width: 80px;
	border: none;
	background-color: hsl(240, 97%, 59%);
	color: rgb(255, 255, 255);
	border-radius: 5px;
}