.Header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header_Right > Button {
    background-color: gray;
    color: white;
    padding: 5px 20px;
    font-size: 30px;
		border: 0px;
    border-radius: 30%;
		cursor: pointer;
		transition: background-color 0.3s ease, transform 0.2s ease;
}
.Header_Right > Button:hover{
	background-color: #c3a6a6;       
	transform: scale(1.03);     				
}
.Header_Left > Button {
	  background-color: gray;
    color: white;
    padding: 5px 20px;
    font-size: 30px;
		border: 0px;
    border-radius: 30%;
		cursor: pointer;
		transition: background-color 0.3s ease, transform 0.2s ease;
}
.Header_Left > Button:hover{
	 background-color: #c3a6a6;       
  transform: scale(1.03);     		
}



.Header_Mid {
	font-size: 40px;
	font-weight: 800;
}
